
body{
margin: 0;
}



/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
}



/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

@font-face {
font-family: "Miso Bold";
src: 
url("fonts/miso-bold-webfont.woff") format("woff"),
url("fonts/miso-bold-webfont.woff2") format("woff2");
}
@font-face {
font-family: "Miso Regular";
src: 
url("fonts/miso-regular-webfont.woff") format("woff"),
url("fonts/miso-regular-webfont.woff2") format("woff2");
}
@font-face {
font-family: "Miso Light";
src: 
url("fonts/miso-light-webfont.woff") format("woff"),
url("fonts/miso-light-webfont.woff2") format("woff2");
}
.container {
	position: relative;
	width: 1200px;
	height: 600px;
	background-color: rgb(253,222,126);
	margin: auto;
	display: flex;
	justify-content: center;
}
.blocks {
	display: flex;
	align-items: center;
	margin-top: 50px;
	margin-bottom: 20px;
}
.ba-cup_bronze, .ba-cup_silver {
	width: 360px;
	height: 440px;
	
	text-align: center;
	background-color: rgb(255,255,255);
	border-radius: 1%;
	
}
.ba-cup_gold {
	width: 360px;
	height: 500px;
	text-align: center;
	background-color: rgb(255,255,255);
	border-radius: 1%;
	margin-left: 30px;
	margin-right: 30px;
}
.blocks h1 {
 font-family: 'Miso Bold', sans-serif;
 font-size: 55px;
 color: rgb(2,153,91);
}
.blocks h2 {
	font-family: 'Miso Regular', sans-serif;
	font-size: 50px;
	font-weight: lighter;
	margin-bottom: 0;

}
.ba-cup_bronze h2 {
	margin-top: 10px;
}
.ba-cup_silver h2 {
	margin-top: 10px;
}
.ba-cup_gold h2 {
	margin-top: 25px;
}
.blocks p {
	font-family: 'Miso Light', sans-serif;
	font-size: 27px;
	margin-top: 10px;
}
